

#head {
    padding: 30px 60px 30px 60px;
}

#head ul li a {
    font-weight: bold;
    font-family: arial;
    font-size: 14px;
}

#head a {
    font-family: "star jedi hollow";
    font-size: 30px;
    color: rgb(206, 206, 206);
}

#head a span {
    font-family: "star jedi";
}

@media screen and (max-width: 768px) {
    #head {
        padding: 10px 3px 10px 3px;
    }
}   

@media screen and (max-width: 576px) {
    #head {
        padding: 10px 5px 10px 5px;
    }
    
    #head a {
    font-size: 20px;
   }

}