#head {
    padding: 30px 60px 30px 60px;
}

#head ul li a {
    font-weight: bold;
    font-family: arial;
    font-size: 14px;
}

#head a {
    font-family: "star jedi hollow";
    font-size: 30px;
    color: grey;
}

#head a span {
    font-family: "star jedi";
}

@media screen and (max-width: 768px) {
    #head a {
    font-size: 25px;
   }
}