

#foot {
    background-color: rgb(56, 56, 56);
    padding: 40px 50px 40px 50px;
}

#foot h5 {
    font-family: "star jedi hollow";
    color: grey;
}

#foot h5 span {
    font-family: "star jedi";
}

#icons {
    text-align: center;
}

@media screen and (max-width: 768px) {
    #foot {
        padding: 30px 10px 10px 10px;
    }

    #foot h5 {
        font-size: 15px;
    }
}