
    <div class="container-fluid" id="foot">
        <div class="row">
            <div class="col-sm-3">
                <h3>Learner's <span>Dome</span></h3>
                <a href="#" style="text-decoration: none;"><p style="color: grey;">About Us</p></a>
                <a href="#" style="text-decoration: none;"><p style="color: grey;">Contact Us</p></a>
            </div>
            <div class="col-sm-6" id="icons">
                <a href="#"><i class="fa fa-facebook-square" style="font-size: 18px;"></i></a>
                <a href="#"><i class="fa fa-twitter-square" style="font-size: 18px; color: rgb(159, 206, 224);"></i></a>
                <a href="#"><i class="fa fa-linkedin-square" style="font-size: 18px;"></i></a>
                <a href="#"><i class="fa fa-youtube-square" style="font-size: 18px; color: rgb(146, 50, 50);"></i></a>
            </div>
            <div class="col-sm-3" style="margin-top: 30px; text-align: right;">
                <a href="#" style="text-decoration: none;"><p style="color: grey;">Discussion Forum</p>
                </a>
                <a href="#" style="text-decoration: none;"><p style="color: grey;">Careers</p>
                </a>
            </div>
        </div>
    </div>