<div class="container-fluid" id="main">
    <div class="row">
        <div class="col-sm-8 col-md-8" id="coursel-ctrl">
            <div id="demo" class="carousel slide" data-ride="carousel">
                
                <!-- Indicators -->
                <ul class="carousel-indicators">
                    <li data-target="#demo" data-slide-to="0" class="active"></li>
                    <li data-target="#demo" data-slide-to="1"></li>
                </ul>
                  
                <!-- The slideshow -->
                <div class="carousel-inner">
                    <div class="carousel-item active">
                       <img src="assets\imgs\sl1.jpg" class="img-fluid">
                    </div>
                    <div class="carousel-item">
                       <img src="assets\imgs\sl2.jpg" class="img-fluid">
                    </div>
                </div>
                  
                <!-- Left and right controls -->
                <a class="carousel-control-prev" href="#demo" data-slide="prev">
                    <span class="carousel-control-prev-icon"></span>
                </a>
                <a class="carousel-control-next" href="#demo" data-slide="next">
                    <span class="carousel-control-next-icon"></span>
                </a>
            </div>
        </div>
        
        <div  class="col-sm-4 col-md-4" id="form-ctrl">
            <ul class="nav nav-pills nav-justified" role="tablist" style="margin-bottom: 15px;">
                <li class="nav-item">
                   <a class="nav-link active" data-toggle="tab" href="#home">Sign Up</a>
                </li>
                <li class="nav-item">
                   <a class="nav-link" data-toggle="tab" href="#elements">LogIn</a>
                </li>
            </ul>
            

            <div class="tab-content">
                <div id="home" class="tab-pane active">
                    <form>
                        <div class="form-group">
                            <input type="text" class="form-control" id="name" placeholder="Name">
                        </div>
                        <div class="form-group">
                            <input type="text" class="form-control" id="uname" placeholder="User Name">
                        </div>
                        <div class="form-group">
                            <input type="email" class="form-control" id="email" placeholder="Email">
                        </div>
                        <div class="form-group">
                            <input type="password" class="form-control" id="pwd" placeholder="Password">
                        </div>
                        <div class="form-group">
                            <input type="password" class="form-control" id="pwdc" placeholder="Confirm Password">
                        </div>
                        <div class="form-group">
                            <input type="text" class="form-control" id="cont" placeholder="Country Name">
                        </div>
                        <div class="form-group">
                            <label for="courses" style="color: grey;">Select Courses:</label>
                            <select multiple class="form-control" id="courses">
                            <option>HTML5</option>
                            <option>CSS3</option>
                            <option>JAVASCRIPT</option>
                            <option>JQUERY</option>
                            <option>BOOTSTRAP</option>
                            <option>ANGULAR</option>
                            <option>ANGULAR4</option>
                            <option>MY SQL</option>
                            <option>SPRING BOOT</option>
                            <option>NODE JS</option>
                            </select>
                        </div>
                        <button type="submit" class="btn btn-default" style="padding: 10px 30px; background-color: lightgrey">Sign Up</button>
                    </form>
                </div>
                <div id="elements" class="tab-pane fade">
                    <form>
                        <div class="form-group">
                            <input type="text" class="form-control" id="uname" placeholder="User Name">
                        </div>
                        <div class="form-group">
                            <input type="password" class="form-control" id="pwd" placeholder="Password">
                        </div>
                        <button type="submit" class="btn btn-default" style="padding: 10px 30px; background-color: lightgrey">LogIn</button>
                    </form>
                </div>

            </div>
        </div>
    </div>
</div>

