
  <div class="container-fluid" id="main">

    <div class="row" style="margin-bottom: 28px;">

      <div class="col-xs-12 col-sm-6 col-md-4">
        <div class="thumbnail">
          <a routerLink="/app-course">
            <img class="img-fluid mx-auto d-block" src="assets\imgs\html5.png">
          </a>
        </div>
      </div>

      <div class="col-xs-12 col-sm-6 col-md-4">
        <div class="thumbnail">
          <a href="#">
            <img class="img-fluid mx-auto d-block" src="assets\imgs\css3.png">
          </a>
        </div>
      </div>

      <div class="col-xs-12 col-sm-6 col-md-4">
        <div class="thumbnail">
          <a href="#">
            <img class="img-fluid mx-auto d-block" src="assets\imgs\js.png">
          </a>
        </div>
        </div>

    </div>

    <div class="row">

        <div class="col-xs-12 col-sm-6 col-md-3">
            <div class="thumbnail">
              <a href="#">
                <img class="img-fluid mx-auto d-block" src="assets\imgs\jq.png">
              </a>
            </div>
          </div>

        <div class="col-xs-12 col-sm-6 col-md-3">
          <div class="thumbnail">
            <a href="#">
              <img class="img-fluid mx-auto d-block" src="assets\imgs\boot.png">
            </a>
          </div>
        </div>

        <div class="col-xs-12 col-sm-6 col-md-3">
          <div class="thumbnail">
            <a href="#">
              <img class="img-fluid mx-auto d-block" src="assets\imgs\ang.png">
            </a>
          </div>
        </div>

        <div  class="col-xs-12 col-sm-6 col-md-3">
            <div class="thumbnail">
              <a href="#">
                <img class="img-fluid mx-auto d-block" src="assets\imgs\sp.png">
              </a>
            </div>
        </div>

    </div>

  </div>