
  <div class="container-fluid" id="main">

    <div class="row" style="margin-bottom: 10px;">

      <div class="col-xs-12 col-sm-6 col-md-3">
        <div class="thumbnail">
          <a routerLink="/app-course">
            <img class="img-responsive" src="assets\imgs\html5.png" style="margin:0 auto;">
          </a>
        </div>
      </div>

      <div class="col-xs-12 col-sm-6 col-md-3">
        <div class="thumbnail">
          <a href="#">
            <img class="img-responsive" src="assets\imgs\css3.png" style="margin:0 auto;">
          </a>
        </div>
      </div>

      <div class="col-xs-12 col-sm-6 col-md-3">
        <div class="thumbnail">
          <a href="#">
            <img class="img-responsive" src="assets\imgs\js.png" style="margin:0 auto;">
          </a>
        </div>
        </div>

        <div class="col-xs-12 col-sm-6 col-md-3">
          <div class="thumbnail">
            <a href="#">
              <img class="img-responsive" src="assets\imgs\jq.png" style="margin:0 auto;">
            </a>
          </div>
        </div>

    </div>

    <div class="row">

        <div class="col-xs-12 col-sm-6 col-md-4">
          <div class="thumbnail">
            <a href="#">
              <img class="img-responsive" src="assets\imgs\boot.png" style="margin:0 auto;">
            </a>
          </div>
        </div>

        <div class="col-xs-12 col-sm-6 col-md-4">
          <div class="thumbnail">
            <a href="#">
              <img class="img-responsive" src="assets\imgs\ang.png" style="margin:0 auto;">
            </a>
          </div>
        </div>

        <div  class="col-xs-12 col-sm-6 col-md-4">
            <div class="thumbnail">
              <a href="#">
                <img class="img-responsive" src="assets\imgs\sp.png" style="margin:0 auto;">
              </a>
            </div>
        </div>

    </div>

  </div>